<footer>
    <div class="container-fluid footer-main-div">
        <div class="footer-side-div">
            <h3> Linkovi </h3>
            <div class="footer-h3" style="width: 100px;"></div><br>

            <a href="/" class="footer-linkovi">Početna</a><br>
            <a href="/team" class="footer-linkovi">Tim</a><br>
            <a href="/news" class="footer-linkovi">Vijesti</a><br>
            <a href="/history" class="footer-linkovi">Istorija</a><br>
            <a href="/shop" class="footer-linkovi">Web Shop</a><br>
            <a href="/about" class="footer-linkovi">O klubu</a><br>

        </div>
        <div class="footer-side-div">
            <h3> Info </h3>
            <div class="footer-h3" style="width: 100px;"></div><br>

            <a href='https://www.google.com/maps/place/Stadion+Pod+Racinom,+Racina,+Plav+84325,+Montenegro/@42.5985222,19.9406818,18z/data=!4m12!1m6!3m5!1s0x0:0xe5e64e3ea8761cdc!2sinternisticka+ordinacija+Pupovic!8m2!3d42.5979812!4d19.9425218!3m4!1s0x1352607b7229ffc7:0x44d06902704abc8b!8m2!3d42.5989096!4d19.9401956?hl=en' class="footer-info"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; Plav, Racina bb</a><br>
            <a href="tel:+38251-250-163" class="footer-info"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp; 051 250 163</a><br>
            <a href="mailto: fkjezero.plav@hotmail.com" class="footer-info"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp; fkjezero.plav@hotmail.com</a><br>

        </div>
        <div class="footer-side-div">
            <h3> Društvene mreže </h3>
            <div class="footer-h3" ></div><br>

            <a href="https://www.instagram.com/fkjezero_official.page/" class="footer-mreze my-ig"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/FKJezeroPlav1/" class="footer-mreze"><i class="fa fa-facebook" aria-hidden="true"></i></a>

        </div>
    </div>
    <div class="footer-cr">
        <p id="footer-p"><i class="fa fa-copyright" aria-hidden="true"></i>Web development: <a href="http://elmaz.herokuapp.com/" id="footer-Elmaz">Elmaz Feratovic</a></p>
    </div>

</footer>