<footer>
    <div class="container-fluid footer-main-div">
        <div class="footer-side-div">
            <h3> Linkovi </h3>
            <div class="footer-h3" style="width: 100px;"></div><br>

            <a href="/" class="footer-linkovi">Pocetna</a><br>
            <a href="/team" class="footer-linkovi">Tim</a><br>
            <a href="/news" class="footer-linkovi">Vijesti</a><br>
            <a href="/history" class="footer-linkovi">Istorija</a><br>
            <a href="/shop" class="footer-linkovi">Web Shop</a><br>
            <a href="/about" class="footer-linkovi">O nama</a><br>

        </div>
        <div class="footer-side-div">
            <h3> Info </h3>
            <div class="footer-h3" style="width: 100px;"></div><br>

            <a href="#" class="footer-info"><i class="fa fa-map-marker" aria-hidden="true"></i>Plav, Racina bb</a><br>
            <a href="#" class="footer-info"><i class="fa fa-phone" aria-hidden="true"></i>069 913 594</a><br>
            <a href="#" class="footer-info"><i class="fa fa-envelope" aria-hidden="true"></i>fkjezero.plav@hotmail.com</a><br>

        </div>
        <div class="footer-side-div">
            <h3> Drustvene mreze </h3>
            <div class="footer-h3" ></div><br>

            <a href="#" class="footer-mreze"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#" class="footer-mreze"><i class="fa fa-facebook" aria-hidden="true"></i></a>

        </div>
    </div>
    <div class="footer-cr">
        <p id="footer-p"><i class="fa fa-copyright" aria-hidden="true"></i>Web development: <a href="#" id="footer-Elmaz">Elmaz Feratovic</a></p>
    </div>

</footer>