<head>
    <title>O nama</title>
    <link rel="stylesheet" href="/css/about.css">
</head>
<%- include ('partials/header') %>
<br><br>
<div class="container">
   <h1 id="h1-fkj">FUDBALSKI KLUB JEZERO</h1>

   <div class="borderAbout"></div>

    <div id="divImg">
        <img src="/images/stadion.jpg"  class="my-img-container"> 
     </div>
    <p id="my-p">
         FK Jezero je fudbalski klub iz Plava u Crnoj Gori koje se trenutno takmiči 
         u Prvoj ligi Crne Gore. Klub je osnovan 1934. godine. Svoje utakmice trenutno igra 
         na stadionu FK Berana. Matični stadion se nalazi u Plavu, Racina bb. Stadion može da 
         primi 2500 gledalaca. 
         Klub se vratio u najviši rang takmičenja 2020. godine nakon baraža u kojem je savladan
         FK Kom. 
         Jedan od poznatijih igrača koji je ponikao u klubu je 
         Miodrag Džudović, nekadašnji reprezentativac Crne Gore. 
    </p>

    <div class="borderAbout"></div>

   <div class="container-fluid my-container-dress">

       <div class="my-main-container-dress"> 
            <h5>Grb</h5>
            <img  src="/images/dress.jpg" width="200px">
       </div>

       <div class="my-main-container-dress">
            <h5>Domaci dresovi</h5>
            <img  src="/images/dress.jpg" width="200px">
       </div>

       <div class="my-main-container-dress">
            <h5>Gostujuci dresovi</h5>
            <img  src="/images/dress.jpg" width="200px">
       </div>
   </div>
   
</div>
 
<br><br><br>

<%- include ('partials/footer') %>
