<head>
    <title>Web Shop</title>
    <link rel="stylesheet" href="/css/webShop.css">
</head>

<%- include ('partials/header') %>


<div id="web-shop">USKORO </div>

<br><br><br><br><br><br><br><br><br>

<%- include ('partials/footer') %>
