body{
    background-color: #eeeeee;
}
.container{
    text-align: center;
}

#h1-fkj{
    padding:8px;
    color: black;
}

#divImg{
    width: 100%;
    height: 500px;
}


.borderAbout{
    margin-top: 10px;
    border-bottom: 1px solid rgb(0, 0, 0);
    height: 10px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.my-img-container{
   border-radius: 5px;
   width: 100%;
   height: 100%;
}

#my-p{
    margin-top: 40px;
    font-size: 20px;
}

.my-container-dress > div{
   object-fit: contain;
}

.my-container-dress{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   color: white;
}

.my-main-container-dress{
    margin-top: 30px;
    border-radius: 10px;
    background: rgb(92,174,244);
    background-image: url("https://wallpaperaccess.com/full/486695.jpg");
    background-size: cover;
    background-position: bottom;
}


.my-main-container-dress > h5{
    padding:10px;
    color: black;
}


.my-main-container-dress > img{
    overflow: hidden;
}

/*          HISTORY              */

.p-history{
    margin-top: 30px;
    font-size: 20px;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    margin-bottom: 50px;
}

@media screen and (max-width: 600px) {
    .my-img-container{
        width: 100%;
        max-width: 400px;
        height: auto;
    }   

    .my-container-dress{
        flex-direction: column;
    }

     #divImg{
         height: 300px;
    }

    #my-p{
        margin-top: 10px;
    }

    .my-main-container-dress{
         height: 300px;
    }
    
    #h1-fkj{
        font-size: 30px;
    }

    .p-history{
        margin-top: 5px;
        font-size: 15px;

    }
}