footer{
    background-color: rgb(0, 0, 0);
}

.footer-main-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    padding-top: 10px;
    text-align: center;
}

.footer-side-div{
    width: 33%;
}

.footer-h3{
  width: 250px;
  height: 3px;
  background-color: #5f5f5f;
  margin: auto;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.footer-mreze{
    font-size: 35px;
    padding: 10px !important;
    border-radius: 10px;
}
.footer-mreze:hover{
    color: white;
    background-color:rgba(54,119,196,1);
    transition: ease-in 0.3s;

    
 }

 .my-ig:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color:white;
 }

.footer-cr{
    text-align: center;
    overflow: hidden;
    border-top: 1px solid #5f5f5f;

}

@media screen and (max-width: 600px) {
    .footer-main-div{
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }
    .footer-h3{
        width: 100px;
    }

    .footer-side-div{
      padding-bottom: 10px;
    }
}

