@import url('https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#app{
  width: 100%;
  margin: auto;
  margin-top: -3.6vw;
  text-align: right;
}

.appText{
  font-size: 1.3rem;
  line-height: 0.5;
}

#app > img{
  width: 100%;
}

ul{
  position: relative;
  top: -5vw;
}

li{
  display: inline;
}

.item{
  text-decoration: none;
  color:white;
  font-size: 1.6vw;
  padding: 0px 20px;
}

.item:hover{
  background-color: rgb(255, 255, 255);
  -webkit-clip-path: polygon(100% 0, 86% 100%, 0 100%, 0 0);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  color: black;
  text-decoration: none;
 }

#text{
  text-align: left;
  position: relative;
  left: 20.3vw;
  top: 4vw;
  width: auto;
  padding: 5px 10px;
}

#text > a{
  color: #4C4C4C;
}

#text > a > p{
  font-size: 1.5vw;

}

#text > a:hover{
  text-decoration: none;
}

.btnLogo{
  display: block;
  width: 7vw;
  height: 9.5vw;
  position: absolute;
  left: 13vw;
  top: 0%;
}

#bars{
  display: none;
}

#headMob{
  display: none;
}

@media only screen and (max-width: 700px) {

#app{
  text-align: left;

}
ul{
    display: none;
    margin-top: 4vw;
    background-color: black;
}

#text{
 display: none;
}

#headMob{
  display: block;
  text-align: center;
  margin-top: 25px;
}

#headMob > a{
  color: #4C4C4C;
  text-decoration: none;
  line-height: 0.5;
  font-size: 20px;
}

#headMob > a > p{
  margin-top: 10px;
}

#imageNavBar{
  content: url('../images/navBarMob.svg');
  width: 100%;
}

#bars{
  display: block;
  position: absolute;
  right: 5vw;
  top: 180px;
}

#bars > i {
  color: rgb(255, 255, 255);
  font-size: 30px;
}

li{
  display: block;
  padding: 5px 5px;
  border-bottom: 1px solid white;
}

.item{
  color: rgb(255, 255, 255);
  font-size: 4.5vw;

}
}