
body{
    background-color: #eeeeee;
}

#news-container{
    padding: 10px;
}

#newsUrl{
    display: none;
}

.my-newsDiv{
    padding: 10px;
    width: 80%;
    margin: auto;
}

.text-img-container{
    position: relative;
    text-align: center;
    height: 400px;
    color: rgb(0, 0, 0);
    object-fit: cover;
    

}

.top-left {
    position: absolute;
    bottom: 0px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    width: 100%;
    opacity: 0.5;
}

.top-left:hover{
    opacity: 1;
}

.read-more{
    text-decoration: none;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    text-align: left;
}

#my-form{
    padding: 25px;
   display: flex;
   flex-direction: row;
}

#load-more{
    text-align: center;
    padding: 15px;
    width: 210px;
    border-radius: 2px;
    margin: auto;
    margin-top: 50px;
    border: 7px solid #f6f6f6;
    color: #f6f6f6;
    cursor: pointer;
}

#load-more:hover{
    opacity: 0.5;
}

.text-img-container > img{
    width:100%;
    height: 100%;
    border-radius: 3px;
}

#error-div{
   width: 100%;
 
   text-align: center;
}

.inactive{
    display: none;
}

#errorImg {
    width: 300px;
    height: 300px;
    margin:auto;

}

#errorImg > img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 600px) {
    .text-img-container{
       height: 250px;
    }
    
    .top-left > h3 {
        font-size: 16px;
    }

}