

body{
    background: #93daec;
  	font-family: 'Montserrat', sans-serif;
}

#web-shop{
  position: relative;
  margin-top: 20%;
  margin-left: 52%;
  transform: translate(-50%, -50%);
  font-size:120px;
	letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 
						8px 8px rgba(54,119,196,1),
						20px 20px #000000;
}


@media screen and (max-width: 600px) {
    #web-shop{
        font-size: 60px;
        margin-left: 45%;
        margin-top: 160px;
    }
}